@import url(docutils.css);
@import url(pygments.css);

html,body
{
  height:100%;
  margin:0;
  padding:0;
  width:100%;
}

body
{
  background:#4b4d4d url(bkgnd_pattern.png);
  color:#000;
  text-align:center;
}

body,th,td
{
  font:normal small 'Segoe UI','Trebuchet MS',Verdana,Helvetica,sans-serif;
}

pre,code,tt
{
  font-family:Consolas,"Courier New",Courier,monospace;
}

h1,h2,h3,h4
{
  border-bottom:1px solid #ccc;
  font-family:Calibri,Arial,Helvetica,sans-serif;
  font-weight:700;
  letter-spacing:-.018em;
}

h1
{
  color:#000;
  font-size:24px;
  margin:1em 0 .5em;
}

h2
{
  border-bottom:1px dotted #ccc;
  color:#444;
  font-size:18px;
  margin:1em 0 .5em;
}

h3
{
  border-bottom:0;
  color:#666;
  font-size:18px;
  margin:1em 0 .5em;
}

hr
{
  border:none;
  border-top:1px solid #ccb;
  margin:2em 0;
}

p
{
  font-size:1.1em;
  margin:0 0 1em;
  text-align:justify;
}

ul
{
  font-size:1.1em;
  margin: 0 1.5em 1em -0.5em;
  text-align: justify;
}

img
{
  margin:5px 5px 15px;
}

img.align-middle
{
  margin:0;
  vertical-align: middle;
}

img.align-left
{
  margin: 0px 20px 0px 0px;
  float: left;
}

img.align-right
{
  margin: 20px 0px 0px 0px;
  float: right;
}

table
{
  border:1px solid #999;
  border-collapse:separate;
  border-spacing:0;
  border-width:0 1px 0 0;
}

table thead th
{
  background:#999;
  border:1px solid #999;
  color:#fff;
  font-weight:700;
}

table td
{
  border:1px solid #ccc;
  border-width:0 0 1px 1px;
  padding:.3em;
}

:link,:visited
{
  border-bottom:1px dotted #bbb;
  color:#1D84BF;
  text-decoration:none;
}

:link:hover,:visited:hover
{
  background-color:#e0efff;
  color:#10649F;
}

:link img,:visited img
{
  border:none;
}

h1 :link,h1 :visited,
h2 :link,h2 :visited,
h3 :link,h3 :visited,
h4 :link,h4 :visited,
h5 :link,h5 :visited,
h6 :link,h6 :visited
{
  color:#000;
}

#navigation
{
  background:#b00;
  color:#fff;
  font-size:90%;
  margin:0 -20px;
  padding:.2em .5em;
  text-align:right;
}

#navigation :link,#navigation :visited
{
  border:none;
  color:#fff;
}

#navigation :link:hover,#navigation :visited:hover
{
  background:#fff;
  color:#b00;
}

#navigation span.projinfo
{
  float:left;
}

#footer
{
  border-top:1px solid #d7d7d7;
  color:#666;
  font-size:90%;
  margin:8em -20px 0;
  padding:.5em 0 2em;
  text-align:center;
}

#footer :link,#footer :visited
{
  color:#666;
}

div.document
{
  background:#fff url(shadow.gif) right top repeat-y;
  border-left:1px solid #000;
  display:block;
  left:80px;
  margin-left:auto;
  margin-right:auto;
  padding:0 180px 0 20px;
  position:relative;
  text-align:left;
  width:880px;
}

img.headerimg
{
  margin:10px 0;
}

div.headermenu
{
  background-color:#444;
  color:#FFF;
  font-family:Arial,Verdana,'Bitstream Vera Sans',Helvetica,sans-serif;
  font-size:x-small;
  margin:0 -20px;
  padding:5px 15px;
  text-align:right;
}

div.footertext
{
  color:#FFF;
  font-family:Arial,Verdana,'Bitstream Vera Sans',Helvetica,sans-serif;
  font-size:x-small;
  line-height:10px;
  text-align:center;
}

a.headerlink
{
  border:none;
  color:#CFCFCF;
}

a.headerlink:hover
{
  background:none;
  border:none;
  color:#FFF;
}

div.contents
{
  bottom:0;
  font-size:90%;
  left:60em;
  margin-left:81px;
  overflow:auto;
  overflow-x:hidden;
  position:fixed;
  right:0;
  top:30px;
}

div.contents .topic-title
{
  display:none;
}

div.contents ul
{
  list-style:none;
  padding-left:0;
}

div.contents .auto-toc :link,div.contents .auto-toc :visited
{
  border:none;
  color:#e9e9e9;
  display:block;
  font-weight:700;
  padding:1px 5px 2px 10px;
}

div.contents .auto-toc :link:hover,div.contents .auto-toc :visited:hover
{
  background:#000;
  color:#fff;
}

div.contents .auto-toc .auto-toc :link,div.contents .auto-toc .auto-toc :visited
{
  color:#c6c6c6;
  font-weight:400;
}

h1.title,div.document#preface h1
{
  border:none;
  color:#1E7FBC;
  font-size:xx-large;
  margin:0 -20px 10px;
  padding:30px 20px 0;
}

h1.title
{
  background:url(vertbars.png) repeat-x;
}

h2.subtitle
{
  border-bottom:0;
  color:#1D9DDB;
  margin:10px 0 20px;
  text-align:center;
}

div.document#preface h1.title
{
  text-indent:-4000px;
}

div.document#preface h1
{
  text-align:center;
}

pre.literal-block,
div.highlight pre
{
  background:#f4f4f4;
  border:1px solid #e6e6e6;
  color:#000;
  margin:1em;
  overflow:auto;
  padding:.25em;
}

table.field-list
{
  border-collapse:collapse;
}

table.field-list th.field-name
{
  color:#333;
  font-weight:400;
  text-align:right;
}

table.field-list td
{
  border-width:1px;
}

div.admonition, div.attention, div.caution,
div.danger, div.error, div.hint, div.important,
div.note, div.tip, div.warning
{
  border:none;
  color:#333;
  font-style:italic;
  margin:1em 2em;
}

div.attention p.admonition-title,
div.caution p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title,
div.warning p.admonition-title
{
  color:#b00;
}

p.admonition-title
{
  margin-bottom:0;
  text-transform:uppercase;
}

tt.docutils
{
  background-color:transparent;
}

span.pre
{
  white-space:normal;
}

div.section
{
  margin-left:1.5em;
}

div.section div.section
{
  margin-bottom:2em;
  margin-left:0;
}

div.section div.section div.section
{
  margin-bottom:0;
}

div.headerbg,div.footerbg
{
  background-color:#262626;
  margin:0 -20px;
}

div.section h1,
div.section h2
{
  margin-left:-.5em;
}

div.section h3
{
  margin-left:0;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #86989B;
    border-radius: 2px;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin-top: 1em;
    padding-top: 0.5em;
    font-weight: bold;
}

div.warning {
    border: 1px solid #940000;
/*    background-color: #FFCCCF;*/
}

div.warning p.admonition-title {
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}
